<header>
    <nav>
        <ul>
            <li>Menu</li>
            <li><a class="<%= p === '/' ? 'active' : '' %>" href="/">Add Book</a></li>
            <li><a class= "<%= p === '/catalog' ? 'active' : '' %>" href="/catalog">Catalog</a></li>
        </ul>
    </nav>
</header>